<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Phase 3:  Business Acquisition</h1>
          <p class="goLeft">
            Phase 3 consists of all the activities conducted between Letter of Intent signing and deal closure.  We guide our clients through due diligence, purchase price adjustments, financing and deal structure - everything it takes to successfully complete the acquisition.
          </p>
          <ul>
            <li>
              We counsel our clients on proven techniques to persuade the seller to accept a fair price and terms.  We assist in obtaining an independent business valuation to minimize the risk of overpaying and to facilitate negotiations.
            </li>
            <li>
              We teach our clients the dynamics of buy/sell negotiations so they get the best deal on the best possible terms while minimizing their personal risk.  Our significant negotiation experience leads to a higher completion rate.
            </li>
            <li>
              When necessary, BTS wears the 'black hat' so that our clients can stay friendly with the seller, who oftentimes remains with the business for some time after the sale.
            </li>
            <li>
              We provide a comprehensive checklist of due diligence items and the project management oversight to ensure it is completed in a thorough and timely manner.  The checklist covers the financial and non-financial factors that are critical to evaluating the business.
            </li>
            <li>
              We introduce our clients, if needed, to specialists in HR, insurance, strategic planning, operations planning, etc. to assist in due diligence and ownership transition.
            </li>
            <li>
              We introduce our clients to the lenders who are most likely to provide the best acquisition financing for the client's specific transaction.  Our close relationships with funding sources and expertise in packaging a deal accelerates the approval process and increases the odds of success.
            </li>
            <li>
              We counsel our clients on how to negotiate with lenders for the best possible terms.  We show our clients how to minimize or eliminate personal collateral and guarantees and how to lessen or remove restrictive bank covenants.
            </li>
            <li>
              Last, but not least, we counsel our clients on how to efficiently use the services and skills of their attorney and CPA such that they save money.  Many unassisted buyers will pay $300-$500/hr to an attorney to perform an action that they could have performed on their own with guidance from BTS.
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
