<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Our Advisors</h1>
          <p>
            Business Transfers & Strategies is built on a foundation of professionalism, integrity and business acumen.  Clients receive personalized service that supports them in the successful acquisition of a profitable business.
          </p>
          <table width="100%" cellspacing="0" cellpadding="5" border="0">
                            <tbody>
                              <tr>
                                <td valign="baseline" align="center">
                                  <table>
                                    <tbody>
                                      <tr>
                                        <td align="center">
                                          <table width="100%" cellspacing="0" border="0">
                                            <tbody>
                                              <tr>
                                                <td><img src="../assets/stevePhoto.jpg" class="img-responsive"></td>
                                              </tr>
                                              <tr>
                                                <td align="center"></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td width="100%">
                                  <div align="left">
                                    <p><strong>Steven Smith,</strong>
                                      BSME, MBA, Principal and
                                      co-founder of <strong>Business
                                        Transfers &amp; Strategies (BTS)</strong>,<strong>
                                      </strong>has a variety of business
                                      experience, primarily within the
                                      disciplines of marketing,
                                      sales,product management,
                                      finance
                                      andlegal.Prior
                                      to co-founding BTS, Steven spent
                                      nearly fifteen years in the high
                                      technology sector, where he was
                                      instrumental in the hyper-growth
                                      of several pre- and post-IPO
                                      companies. His resume
                                      includes such companies as Xircom,
                                      Hayes, Digital and CMGI.
                                      Steven's unique blend
                                      ofexpertiseallows him
                                      to quickly recognize and assess
                                      opportunities, skillfully
                                      construct the acquisition
                                      structure and finalize business
                                      terms, and successfully close
                                      transactions.His careful
                                      analysisof business
                                      informationandcollaborative
                                      styleproduces a win-win for
                                      both the buyer and the
                                      seller.</p>
                                    <p>Steve can be reached at <a href="mailto:steve.smith@business-transfers.com">steve.smith@business-transfers.com</a></p>
                                    <hr></div>
                                </td>
                              </tr>
                            </tbody>
                          </table>


                          <table width="100%" cellspacing="0" cellpadding="5" border="0">
                                            <tbody>
                                              <tr>
                                                <td valign="baseline" align="center">
                                                  <table>
                                                    <tbody>
                                                      <tr>
                                                        <td align="center">
                                                          <table width="100%" cellspacing="0" border="0">
                                                            <tbody>
                                                              <tr>
                                                                <td><img src="../assets/brehnPhoto.jpg" class="img-responsive"></td>
                                                              </tr>
                                                              <tr>
                                                                <td align="center"></td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </td>
                                                <td width="100%">
                                                  <div align="left">
                                                    <p><strong>Brehn&nbsp;Smith,</strong>
                                      BSAE, MBA, Principal and
                                      co-founder of&nbsp; <strong>Business
                                        Transfers &amp; Strategies (BTS)</strong>,&nbsp;has

                                      20 years international experience
                                      in engineering, program
                                      management,&nbsp;and operations
                                      management with such companies as
                                      HP, Agilent, Cisco
                                      Systems,&nbsp;and Philips
                                      Electronics.&nbsp;
                                      She&nbsp;applies this
                                      experience&nbsp;in evaluating the
                                      strength of company business and
                                      operations systems.&nbsp; Using
                                      her Six Sigma Blackbelt skills,
                                      she quickly gathers client
                                      requirements, assesses business
                                      strengths and weaknesses,&nbsp;and
                                      matches&nbsp;clients to
                                      appropriate businesses.&nbsp; She
                                      is instrumental in conducting Due
                                      Diligence and managing the
                                      acquisition process to a timely
                                      completion.&nbsp; In addition to
                                      her corporate
                                      experience,&nbsp;she&nbsp;has
                                      been&nbsp;a successful consultant
                                      and trainer for nearly 15
                                      years.&nbsp; </p>
                                                    <p>Brehn can be reached at <a href="mailto:brehn.smith@business-transfers.com">brehn.smith@business-transfers.com</a></p>
                                                    <hr></div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>




        </div>
      </div>
    </div>

  </div>
</div>
