<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>About BTS</h1>
          <p>
            Business Transfers & Strategies provides services to individuals seeking to buy a small or
            mid-sized business and to companies seeking to expand through acquisition.  BTS provides
            the business experience and methodologies buyers
            need in order to realize their goal of business ownership.
            We provide an efficient and proven method to confidentially
            and objectively advise buyers on business search, due diligence, deal structure and financing.
            Our individual clients are current or former executives making the transition
            from the corporate world to independent business ownership.  Our corporate clients are mid-sized companies ($5M - $50M annual revenue) seeking to expand capacity, capabilities, or customers.  Our specialty is matching specific client requirements with acquisition targets that are not advertised for sale in the public market.  As a result, our clients have the benefit of exclusive access to these unadvertised sellers.  Our primary focus is manufacturing, construction, distribution and service businesses with up to $50M in annual revenues
            and that produce an EBITDA of up to $10M.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
