<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Our Process</h1>
          <p class="goLeft">
            We specialize in uncovering businesses that fit our client's acquisition criteria and are not available for sale on the public market.
            We skillfully and discreetly assist buyers in all phases of the transaction.  Our involvement includes:
          </p>
          <ul>
            <li>
              Developing the client's acquisition criteria
            </li>
            <li>
              Formulating a strategy for identifying and approaching the acquisition targets
            </li>
            <li>
              Initiating contact with and screening the target companies
            </li>
            <li>
              Assessing the target company and suggesting a range of value
            </li>
            <li>
              Formulating the appropriate deal structure and managing due diligence
            </li>
            <li>
              Finalizing the terms of purchase
            </li>
            <li>
              Facilitating acquisition financing
            </li>
          </ul>
          <p class="goLeft">
            These services are delivered using a Three-Phase Process:
          </p>
          <p class="goLeft">
            <a href="/phase1">1. Preparation and Lead Generation</a>
            <br>
            <a href="/phase2">2. Business Selection & Letter of Intent</a>
            <br>
            <a href="/phase3">3. Business Acquisition</a>
            <br>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
