<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Phase 2:  Business Selection & Letter of Intent</h1>
          <p class="goLeft">
            Phase 2 consists of analyzing the selected businesses and determining which ones will be presented with a Letter of Intent (LOI):
          </p>
          <ul>
            <li>
            Conduct premises visits on businesses that pass the initial screening:
              <ul>
                <li>
                  We accompany our clients on owner/business visits to ensure that our clients get all the information they need to accurately assess the business.
                </li>
                <li>
                  Since the businesses that our clients are visiting are not for sale in the public market, our clients talk directly to the business owners and don't have to compete with and outbid other buyers.
                </li>
              </ul>
            </li>

            <li>
              Analyze the initial information (financials, contracts, relevant business documents, etc.) provided by the business owner:
              <ul>
                <li>
                  We coach our clients on how to analyze and compare each business's pros and cons.
                </li>
                <li>
                  We show our clients how to compare each acquisition target to industry norms such that they can identify strengths and weaknesses within the business.
                </li>
              </ul>
            </li>

            <li>
              Suggest the offer price and terms for acquisition of the selected business(es):
              <ul>
                <li>
                We work with the client to determine the best terms on which they can purchase the business and incorporate those terms into a non-binding Letter of Intent.
                </li>
                <li>
                  We counsel our clients on how to use the Letter of Intent and other legal templates safely, thus minimizing their legal fees and risk.
                </li>
              </ul>
            </li>
          </ul>

          <p>
            During this phase, our clients will usually select the remainder of their advisory team (attorney, CPA, appraiser, etc.). BTS can supply a list of advisors who are highly skilled in business transactions of the type and size the buyer is pursuing.
          <br>
          <br>
            <a href="/phase3">Go To Phase 3:  Business Acquisition</a>
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
