<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Useful Resources</h1>
          <h3>Printed Material</h3>
          <ul>
            <li>
              Buying Your Own Business by Russell Robb provides a useful overview of the buying process, and insight into how to create and utilize your acquisition team.
            </li>
            <li>
              You Can Negotiate Anything by Herb Cohen provides a simple framework for negotiating.  He provides many practical examples and techniques that are useful in the business acquisition process - whether it's negotiating with the business owner or the bank.
            </li>
          </ul>
          <h3>On The Web</h3>
          <ul>
            <li>
              http://www.toolkit.com/ is the Business Owner's Toolkit site and is a good source for general information.  This site contains links to relevant templates, plus additional references for items such as due diligence, corporate structure, financing, etc.
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
