<div class="container-fluid">
  <div class="row slide">
    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Transaction Experience & Industry Coverage</h1>
          <p>
            The majority of our transactions have been within the Manufacturing, Construction,
            Distribution/Wholesaling and B2B Service industries,
            and have been within the following lines of business:
          </p>
          <div class="table-responsive">
            <table border="2" class="table"align="center">
            <tbody>
              <tr valign="middle" align="center">
                <td align="center">
                  <p align="center"><strong>Manufacturing</strong></p>
                </td>
                <td>
                  <p align="center"><strong>Construction
                    </strong></p>
                </td>
              </tr>
              <tr>
                <td>Metals</td>
                <td>HVAC/Sheet Metal
                   <br>
                </td>

              </tr>
              <tr>
                <td>Plastics</td>
                <td>Custom Cabinetry<br>
                </td>
              </tr>
              <tr>
                <td>Foods</td>
                <td>Waterproofing </td>

              </tr>
              <tr>
                <td>Medical Devices<br>
                </td>
                <td>Abatement</td>

              </tr>
              <tr>
                <td>Chemicals</td>
                <td>Marble/Granite
                </td>

              </tr>
              <tr>
                <td>Instruments</td>
                <td>Millwork</td>

              </tr>
              <tr>
                <td>Electronics
                </td>
                <td>Flooring</td>

              </tr>
              <tr valign="middle" align="center">
                <td>
                  <p align="center"><strong>Distribution/Wholesaling</strong></p>
                </td>
                <td>
                  <p align="center"><strong>Services</strong>
                  </p>
                </td>
              </tr>
              <tr>
                <td>Industrial
                  Supplies
                </td>
                <td>Printing</td>
              </tr>
              <tr>
                <td>Foods</td>
                <td>Publishing</td>
              </tr>
              <tr>
                <td>Durables</td>
                <td>Laboratory</td>
              </tr>
              <tr>
                <td>Giftware</td>
                <td>Transportation
                </td>
              </tr>
              <tr>
                <td>Housewares</td>
                <td>Warehousing</td>
              </tr>
              <tr>
                <td>Tools</td>
                <td>Calibration<br>
                </td>
              </tr>
              <tr>
                <td>Home Furnishings</td>
                <td>Research</td>
              </tr>
            </tbody>
          </table>
        </div>
          <p>
            The following is a sample of companies (with annual revenues) uncovered for our clients:
          </p>
          <div class="table-responsive">
            <table border="0" class="table"align="center">
              <tbody>
                <tr>
                  <td><u>Manufacturers</u></td>
                  <td></td>
                  <td>
                  </td>
                  <td><u>Distributors</u>
                    <br>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>Architectural
                    Metalwork </td>
                  <td>$1.5M</td>
                  <td></td>
                  <td>Craftwork Import </td>
                  <td>$6.0M</td>
                </tr>
                <tr>
                  <td>Household Wares </td>
                  <td>$3.5M</td>
                  <td></td>
                  <td>Art Licensing/Dist.
                    </td>
                  <td>$6.0M</td>
                </tr>
                <tr>
                  <td>Food Products </td>
                  <td>$3.0M</td>
                  <td></td>
                  <td>Industrial Cleaning
                    Supplies <br>
                  </td>
                  <td>$6.0M<br>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:
                    top;">Custom
                    Woodworking <br>
                  </td>
                  <td style="vertical-align:
                    top;">$7.5M<br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                </tr>
                <tr>
                  <td>Medical Consumables
                    <br>
                  </td>
                  <td>$3.0M<br>
                  </td>
                  <td></td>
                  <td><u>Service Companies</u></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Medical Plastics </td>
                  <td>$6.0M</td>
                  <td></td>
                  <td>Software Company <u></u></td>
                  <td>$1.2M</td>
                </tr>
                <tr>
                  <td>Metal Company </td>
                  <td>$2.4M</td>
                  <td></td>
                  <td>Rigging </td>
                  <td>$4.0M</td>
                </tr>
                <tr>
                  <td>Sheet Metal </td>
                  <td>$3.5M <br>
                  </td>
                  <td></td>
                  <td>Abatement Company </td>
                  <td>$2.0M</td>
                </tr>
                <tr>
                  <td>Medical Implants <br>
                  </td>
                  <td>$13.0M<br>
                  </td>
                  <td></td>
                  <td>Medical Records </td>
                  <td>$9.0M<br>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:
                    top;">Biological
                    Reagents
                    <br>
                  </td>
                  <td style="vertical-align:
                    top;">$6.0M<br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                  <td style="vertical-align:
                    top;"><br>
                  </td>
                </tr>
              </tbody>
                                    </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
