<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-xs-12 col-md-10">
      <router-outlet>
        <!-- <app-home-slide [@routerTransition]=""></app-home-slide>
        <app-about-us [@routerTransition]=""></app-about-us>
        <app-btsoverview [@routerTransition]=""></app-btsoverview>
        <app-who-we-serve [@routerTransition]=""></app-who-we-serve>
        <app-transactions [@routerTransition]=""></app-transactions>
        <app-in-the-news [@routerTransition]=""></app-in-the-news> -->
      </router-outlet>
    </div>
  </div>
</div>
