<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>In The News</h1>
          <p>
            Business Transfers & Strategies was featured in the March 2006
            issue of M&A Today, a national newsletter for the Mergers & Acquisitions industry.
            Click the icon below to read the article.
          </p>
            <a href="http://www.business-transfers.com/images/MA_BTrans_4web.pdf">
              <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </div>

  </div>
</div>
