<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Who We Serve</h1>
          <p>
            Our services are for well-qualified buyers with management
            experience and sufficient capital to purchase and manage a
            small or mid-sized business.  Our clients hire us because
            they do not want to become experts at finding and buying businesses.
            Our clients seek businesses with "upside potential" where they
            can apply their skills, experience, and interests to grow an already
            profitable, healthy business.
          </p>

          <p class="goLeft">
            Our typical individual client's background includes:
          </p>
          <ul>
            <li>
              15+ years of corporate management or business ownership experience
            </li>
            <li>
              Liquid assets or equity of at least $500K to invest in the transaction
            </li>
            <li>
              Sales & Marketing, General Management and/or Operations expertise
            </li>
            <li>
              Directly applicable or transferable experience within the industry of the business being acquired
            </li>
          </ul>

          <p class="goLeft">
            Our typical corporate client has the following attributes:
          </p>
          <ul>
            <li>
              Established business with $5M - $50M in annual revenue
            </li>
            <li>
              Seeking to acquire a company based in North America
            </li>
            <li>
              Willing to pay fair market price for additional capacity, capabilities, product lines or customers
            </li>
            <li>
              Directly applicable or transferable experience within the industry of the business being acquired
            </li>
          </ul>

          <p>
            We also assist Search Funds, Family Offices and Private Equity Groups who are seeking acquisition opportunities.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
