<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>Phase 1:  Preparation & Lead Generation</h1>
          <p class="goLeft">
            Phase 1 prepares the buyer and sets the criteria for the business search. It is comprised of the following activities:
          </p>
          <ul>
            <li>
              Finalizing the client's specific acquisition criteria:
              <ul>
                <li>
                  We spend time with our clients defining the ideal acquisition target, including such
                  items as annual sales, owner's cash flow, industry, location, number of employees, years in business, etc.
                </li>
                <li>
                  The search process is then tailored to identify targets that meet these specific requirements. We identify many more acquisition
                  targets than our clients could find on their
                  own because of our experience and our well-established referral network.
                </li>
              </ul>
            </li>

            <li>
              Implementing an intensive search of the market to identify businesses that meet the client's acquisition criteria:
              <ul>
                <li>
                  Our clients see an ongoing stream of businesses that match their criteria, and have their choice of which businesses to pursue.
                </li>
                <li>
                  We coach our clients on effective techniques to quickly screen out marginal businesses so that they don't waste time and money.
                </li>
                <li>
                  Our search process typically produces many more responses than you can identify searching on your own.
                </li>
              </ul>
            </li>

            <li>
              Preparing our clients to meet owners of profitable businesses that meet their acquisition criteria:
              <ul>
                <li>
                  We assist our clients in documenting their "buying" credentials such that they can successfully market themselves to business owners.
                </li>
                <li>
                  We coach our clients on precisely what to say to owners, and more importantly what NOT to say, so that owners see each client as a qualified buyer and don't screen them out.
                </li>
                <li>
                  Our clients typically visit as many as 20 businesses that meet their specific acquisition criteria.
                </li>
              </ul>
            </li>
          </ul>

          <p>
          <a href="/phase2">Go To Phase 2:  Business Selection</a>
          </p>

        </div>
      </div>
    </div>

  </div>
</div>
