#topParagraph {
  position: relative;
  float: left;
  padding-top:5vh;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.slide {
    background-image:url('../../../assets/homeImage.jpg');
    min-height: 100vh;
    min-width: 84vw;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    justify-content: center;
    position:relative;
}

.blurred-bg-1{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
  background-repeat:no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
}

.box{
  padding-top:5vh;
	width:auto;
	height:auto;
	position:relative;
	border-radius:5px;
	@include box-shadow(0 20px 30px rgba(0,0,0,.6));
	border:1px solid rgba(255,255,255,.3);
	padding:20px;
	text-align: center;
	@include box-sizing(border-box);
	text-shadow:0 1px 1px rgba(0,0,0,.4);
  display: flex;
  transition: box-shadow .3s ease;

	&:active{
    cursor:move;
    @include box-shadow(0 20px 50px rgba(0,0,0,.9));
  }

  .content{
    margin: auto;
  }
}

@media (max-width: 768px) {
  html, body {
    overflow: scroll;
  }
  .box {
    max-width: 100vw;
    max-height: 90vh;
    overflow: auto;
  }
  .content {
    overflow: auto;
  }
  .slide {
    padding-bottom: 5%;
    overflow: auto;
  }
}

h1,h2,a,p, li{
	color:white;
	font-weight:100;

	.tinted &{
		color:black;
		text-shadow:0 1px 1px rgba(255,255,255,.2);
	}
}
h2{ font-size: 14px }
p{
  margin: 20px;
  &.related{
    text-transform: uppercase;
    font-weight: 700;
    color: #444;

    a{
      font-weight: 700;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.goLeft, li {
  text-align: left;
}
