<div class="container-fluid">
  <div class="row slide">

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box1" class="box blurred-bg-1 tinted">
        <div class="content">
          <h1>OUR SERVICES</h1>
          <p>
            Business Transfers & Strategies is committed to
            assisting business buyers.  We are not business
            brokers, nor do we represent business sellers.
            We are advisors to buyers who seek to acquire a
            business with annual sales up to $50 million.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-9 col-xs-12" id="topParagraph">
      <div id="box2" class="box blurred-bg-2 tinted">
        <div class="content">
          <h1>OUR PROCESS</h1>
          <p>
            Business Transfers & Strategies uses a proprietary
            process to assist buyers in finding, evaluating, financing
            and closing on a business that meets their exact
            specifications.  We are experts in finding companies
            that are not publicly listed for sale and guiding
            our clients through the entire acquisition process.
            Having direct access to business sellers ensures
            that you won't have to outbid other buyers.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
